<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://211.21.3.85:58081/ipa/68chat_env-testAuto_profile-_V3.2.0_20202_20230525-134304.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://211.21.3.85:58081/57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://211.21.3.85:58081/512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>co.imoctopus.octopusIM22</string>
				<key>bundle-version</key>
				<string>3.2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>68otc</string>
				<key>title</key>
				<string>68otc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
